main {
    margin: 10px;
    background-color:antiquewhite;
}

header {
    margin: 0;

}
.allergies-header {
    margin-left: 36px;
}

.breadcrumb {
  padding: 0 0.5rem;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "/";
}
